<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Many Green Blocks</title>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">hi</div>

        <script>
            const GameBoard = {
                name: "GameBoard",
                data() {
                    return {
                        gameState: {
                            guesses: [["truss"]],
                            scores: [
                                [
                                    "INCORRECT_LETTER",
                                    "INCORRECT_LETTER",
                                    "CORRECT",
                                    "INCORRECT_LETTER",
                                    "CORRECT",
                                ],
                            ],
                        },
                    };
                },
                template: `
                <div>
                    <div v-for="guess in gameState.guesses">
                        {{guess}}
                </div>
                `,
            };

            const App = {
                components: {
                    GameBoard,
                },
                template: `
                <div>
                    <h1>Many Green Blocks</h1>
                    <GameBoard />
                </div>`,
            };

            new Vue({
                render: (h) => h(App),
            }).$mount("#app");
        </script>
    </body>
</html>
